gitt
pulse/
Signal/
StardewValley/
Thunar/
Unknown
blender/
chromium/
cmus/
dconf/
flameshot/
fontconfig/
go/
htop/
ranger/
spotify/
vlc/
xfce4/
obsidian/
QtProject.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
